body {
  font-family: 'Helvetica Neue', 'Helvetica Neue Light',
               'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.9em;
  line-height: 130%;
  background-color: #397;
  color: white;
  width: 480px;
  margin: 3em auto;
}
h1 {
  text-align: center;
}
@gray-color: #adc;
a { color: @gray-color; }
pre, code { color: @gray-color; }
