.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: ".";
  line-height: 0;
}
* html .clearfix {
  zoom: 1;
}
#title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
#title:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: ".";
  line-height: 0;
}
* html #title {
  zoom: 1;
}
